Part 1 Data Preprocessing

In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

Importing the data

In [3]:
dataset = pd.read_csv('D:/PGP-BABI/Deep Learning with Krish Naik/Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Assigning Dependent and Independent Variables

In [15]:
x= dataset.iloc[:, 3:13]
y= dataset.iloc[: ,13]

Creating Dummy Variables for

In [17]:
geography = pd.get_dummies(x["Geography"], drop_first= True)
gender = pd.get_dummies(x["Gender"], drop_first=True)

COoncatinating DUmmy Variables

In [18]:
x=pd.concat([x,geography,gender], axis=1)

In [19]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

Deleting the orginal geography and gender column

In [23]:
x=x.drop(['Geography','Gender'],axis=1)

In [24]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

Splitting the training and testing data

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2 , random_state =0)

C:\Users\Kiran Kumar\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

Building the Artificial Neural Network

Importing Keras and other relevant libraries

In [28]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

Initializing the ANN

In [29]:
classifier = Sequential()

Adding the input layer and the first hidden layer

In [30]:
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform', activation ='relu', input_dim = 11))

WARNING:tensorflow:From C:\Users\Kiran Kumar\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

Adding the second hidden layer

In [31]:
classifier.add(Dense(units=6, kernel_initializer= 'he_uniform', activation='relu'))

Adding the output layer

In [32]:
classifier.add(Dense(output_dim = 1, kernel_initializer='glorot_uniform', activation = 'sigmoid'))

C:\Users\Kiran Kumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="glorot_uniform", activation="sigmoid", units=1)`
  """Entry point for launching an IPython kernel.

In [33]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

Compiling the ANN

In [38]:
classifier.compile(optimizer='Adamax', loss= 'binary_crossentropy', metrics= ['accuracy'])

Fitting the ANN to the training set

In [40]:
model_history = classifier.fit(x_train,y_train, validation_split=0.33, batch_size=10, nb_epoch = 100)

C:\Users\Kiran Kumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\Users\Kiran Kumar\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 2s 289us/step - loss: 0.5151 - accuracy: 0.7962 - val_loss: 0.4933 - val_accuracy: 0.7955
Epoch 2/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.4837 - accuracy: 0.7962 - val_loss: 0.4792 - val_accuracy: 0.7955
Epoch 3/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.4695 - accuracy: 0.7962 - val_loss: 0.4669 - val_accuracy: 0.7955
Epoch 4/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.4584 - accuracy: 0.7962 - val_loss: 0.4578 - val_accuracy: 0.7955
Epoch 5/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.4497 - accuracy: 0.7962 - val_loss: 0.4503 - val_accuracy: 0.7955
Epoch 6/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.4434 - accuracy: 0.7962 - val_loss: 0.4450 - val_accuracy: 0.7955
Epoch 7/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.4387 - accuracy: 0.7962 - val_loss: 0.4409 - val_accuracy: 0.7955
Epoch 8/100
5359/5359 [==============================] - 1s 171us/step - loss: 0.4352 - accuracy: 0.7962 - val_loss: 0.4373 - val_accuracy: 0.7955
Epoch 9/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.4317 - accuracy: 0.7962 - val_loss: 0.4344 - val_accuracy: 0.7955
Epoch 10/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.4287 - accuracy: 0.7962 - val_loss: 0.4317 - val_accuracy: 0.7955
Epoch 11/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.4263 - accuracy: 0.7962 - val_loss: 0.4295 - val_accuracy: 0.7955
Epoch 12/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.4233 - accuracy: 0.7962 - val_loss: 0.4273 - val_accuracy: 0.7955
Epoch 13/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.4208 - accuracy: 0.7974 - val_loss: 0.4250 - val_accuracy: 0.8035
Epoch 14/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.4180 - accuracy: 0.8104 - val_loss: 0.4228 - val_accuracy: 0.8065
Epoch 15/100
5359/5359 [==============================] - 1s 163us/step - loss: 0.4153 - accuracy: 0.8136 - val_loss: 0.4207 - val_accuracy: 0.8084
Epoch 16/100
5359/5359 [==============================] - 1s 171us/step - loss: 0.4128 - accuracy: 0.8175 - val_loss: 0.4184 - val_accuracy: 0.8114
Epoch 17/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.4100 - accuracy: 0.8199 - val_loss: 0.4159 - val_accuracy: 0.8126
Epoch 18/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.4070 - accuracy: 0.8255 - val_loss: 0.4137 - val_accuracy: 0.8156
Epoch 19/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.4042 - accuracy: 0.8280 - val_loss: 0.4111 - val_accuracy: 0.8179
Epoch 20/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.4012 - accuracy: 0.8304 - val_loss: 0.4084 - val_accuracy: 0.8209
Epoch 21/100
5359/5359 [==============================] - 1s 167us/step - loss: 0.3985 - accuracy: 0.8332 - val_loss: 0.4061 - val_accuracy: 0.8198
Epoch 22/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3956 - accuracy: 0.8336 - val_loss: 0.4040 - val_accuracy: 0.8186
Epoch 23/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3932 - accuracy: 0.8337 - val_loss: 0.4020 - val_accuracy: 0.8247
Epoch 24/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3908 - accuracy: 0.8349 - val_loss: 0.3994 - val_accuracy: 0.8289
Epoch 25/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3886 - accuracy: 0.8384 - val_loss: 0.3975 - val_accuracy: 0.8300
Epoch 26/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3863 - accuracy: 0.8399 - val_loss: 0.3952 - val_accuracy: 0.8360
Epoch 27/100
5359/5359 [==============================] - 1s 194us/step - loss: 0.3841 - accuracy: 0.8414 - val_loss: 0.3935 - val_accuracy: 0.8360
Epoch 28/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3820 - accuracy: 0.8406 - val_loss: 0.3917 - val_accuracy: 0.8368
Epoch 29/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3801 - accuracy: 0.8446 - val_loss: 0.3897 - val_accuracy: 0.8357
Epoch 30/100
5359/5359 [==============================] - 1s 187us/step - loss: 0.3779 - accuracy: 0.8423 - val_loss: 0.3881 - val_accuracy: 0.8387
Epoch 31/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3760 - accuracy: 0.8429 - val_loss: 0.3869 - val_accuracy: 0.8379
Epoch 32/100
5359/5359 [==============================] - 1s 188us/step - loss: 0.3741 - accuracy: 0.8447 - val_loss: 0.3855 - val_accuracy: 0.8387
Epoch 33/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3724 - accuracy: 0.8459 - val_loss: 0.3841 - val_accuracy: 0.8410
Epoch 34/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3706 - accuracy: 0.8446 - val_loss: 0.3830 - val_accuracy: 0.8398
Epoch 35/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3687 - accuracy: 0.8477 - val_loss: 0.3813 - val_accuracy: 0.8387
Epoch 36/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3669 - accuracy: 0.8477 - val_loss: 0.3801 - val_accuracy: 0.8444
Epoch 37/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3654 - accuracy: 0.8490 - val_loss: 0.3787 - val_accuracy: 0.8440
Epoch 38/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3637 - accuracy: 0.8492 - val_loss: 0.3776 - val_accuracy: 0.8413
Epoch 39/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3621 - accuracy: 0.8520 - val_loss: 0.3770 - val_accuracy: 0.8425
Epoch 40/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3604 - accuracy: 0.8503 - val_loss: 0.3760 - val_accuracy: 0.8482
Epoch 41/100
5359/5359 [==============================] - 1s 188us/step - loss: 0.3594 - accuracy: 0.8517 - val_loss: 0.3752 - val_accuracy: 0.8429
Epoch 42/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3579 - accuracy: 0.8524 - val_loss: 0.3748 - val_accuracy: 0.8425
Epoch 43/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3570 - accuracy: 0.8541 - val_loss: 0.3741 - val_accuracy: 0.8421
Epoch 44/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3557 - accuracy: 0.8531 - val_loss: 0.3729 - val_accuracy: 0.8470
Epoch 45/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3546 - accuracy: 0.8543 - val_loss: 0.3723 - val_accuracy: 0.8448
Epoch 46/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3536 - accuracy: 0.8545 - val_loss: 0.3717 - val_accuracy: 0.8444
Epoch 47/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3528 - accuracy: 0.8556 - val_loss: 0.3710 - val_accuracy: 0.8440
Epoch 48/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3518 - accuracy: 0.8558 - val_loss: 0.3708 - val_accuracy: 0.8482
Epoch 49/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3510 - accuracy: 0.8543 - val_loss: 0.3702 - val_accuracy: 0.8470
Epoch 50/100
5359/5359 [==============================] - 1s 189us/step - loss: 0.3501 - accuracy: 0.8561 - val_loss: 0.3695 - val_accuracy: 0.8466
Epoch 51/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3490 - accuracy: 0.8563 - val_loss: 0.3688 - val_accuracy: 0.8459
Epoch 52/100
5359/5359 [==============================] - 1s 186us/step - loss: 0.3480 - accuracy: 0.8584 - val_loss: 0.3681 - val_accuracy: 0.8474
Epoch 53/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3472 - accuracy: 0.8571 - val_loss: 0.3674 - val_accuracy: 0.8531
Epoch 54/100

5359/5359 [==============================] - 1s 230us/step - loss: 0.3464 - accuracy: 0.8589 - val_loss: 0.3686 - val_accuracy: 0.8512
Epoch 55/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3460 - accuracy: 0.8584 - val_loss: 0.3668 - val_accuracy: 0.8482
Epoch 56/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3454 - accuracy: 0.8602 - val_loss: 0.3659 - val_accuracy: 0.8497
Epoch 57/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3446 - accuracy: 0.8597 - val_loss: 0.3663 - val_accuracy: 0.8497
Epoch 58/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.3441 - accuracy: 0.8582 - val_loss: 0.3664 - val_accuracy: 0.8504
Epoch 59/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3437 - accuracy: 0.8593 - val_loss: 0.3654 - val_accuracy: 0.8508
Epoch 60/100
5359/5359 [==============================] - 1s 171us/step - loss: 0.3429 - accuracy: 0.8589 - val_loss: 0.3649 - val_accuracy: 0.8542
Epoch 61/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3424 - accuracy: 0.8587 - val_loss: 0.3638 - val_accuracy: 0.8531
Epoch 62/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3422 - accuracy: 0.8587 - val_loss: 0.3642 - val_accuracy: 0.8512
Epoch 63/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3415 - accuracy: 0.8606 - val_loss: 0.3640 - val_accuracy: 0.8512
Epoch 64/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3413 - accuracy: 0.8610 - val_loss: 0.3649 - val_accuracy: 0.8519
Epoch 65/100
5359/5359 [==============================] - 1s 187us/step - loss: 0.3408 - accuracy: 0.8582 - val_loss: 0.3639 - val_accuracy: 0.8519
Epoch 66/100
5359/5359 [==============================] - 1s 188us/step - loss: 0.3403 - accuracy: 0.8576 - val_loss: 0.3639 - val_accuracy: 0.8550
Epoch 67/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.3398 - accuracy: 0.8602 - val_loss: 0.3635 - val_accuracy: 0.8542
Epoch 68/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3395 - accuracy: 0.8615 - val_loss: 0.3629 - val_accuracy: 0.8550
Epoch 69/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3393 - accuracy: 0.8599 - val_loss: 0.3631 - val_accuracy: 0.8542
Epoch 70/100
5359/5359 [==============================] - 1s 186us/step - loss: 0.3395 - accuracy: 0.8597 - val_loss: 0.3632 - val_accuracy: 0.8527
Epoch 71/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3391 - accuracy: 0.8606 - val_loss: 0.3631 - val_accuracy: 0.8531
Epoch 72/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3386 - accuracy: 0.8619 - val_loss: 0.3633 - val_accuracy: 0.8573
Epoch 73/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3382 - accuracy: 0.8606 - val_loss: 0.3623 - val_accuracy: 0.8557
Epoch 74/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3383 - accuracy: 0.8606 - val_loss: 0.3621 - val_accuracy: 0.8561
Epoch 75/100
5359/5359 [==============================] - 1s 206us/step - loss: 0.3380 - accuracy: 0.8621 - val_loss: 0.3620 - val_accuracy: 0.8565
Epoch 76/100
5359/5359 [==============================] - 1s 191us/step - loss: 0.3379 - accuracy: 0.8621 - val_loss: 0.3631 - val_accuracy: 0.8542
Epoch 77/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3375 - accuracy: 0.8614 - val_loss: 0.3624 - val_accuracy: 0.8557
Epoch 78/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3375 - accuracy: 0.8615 - val_loss: 0.3620 - val_accuracy: 0.8557
Epoch 79/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3373 - accuracy: 0.8619 - val_loss: 0.3624 - val_accuracy: 0.8542
Epoch 80/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3370 - accuracy: 0.8617 - val_loss: 0.3616 - val_accuracy: 0.8546
Epoch 81/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3373 - accuracy: 0.8604 - val_loss: 0.3620 - val_accuracy: 0.8550
Epoch 82/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3369 - accuracy: 0.8621 - val_loss: 0.3613 - val_accuracy: 0.8554
Epoch 83/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3363 - accuracy: 0.8606 - val_loss: 0.3631 - val_accuracy: 0.8523
Epoch 84/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.3370 - accuracy: 0.8627 - val_loss: 0.3619 - val_accuracy: 0.8531
Epoch 85/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3365 - accuracy: 0.8610 - val_loss: 0.3609 - val_accuracy: 0.8557
Epoch 86/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3363 - accuracy: 0.8599 - val_loss: 0.3609 - val_accuracy: 0.8554
Epoch 87/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.3360 - accuracy: 0.8617 - val_loss: 0.3606 - val_accuracy: 0.8561
Epoch 88/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3359 - accuracy: 0.8614 - val_loss: 0.3611 - val_accuracy: 0.8554
Epoch 89/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3359 - accuracy: 0.8615 - val_loss: 0.3602 - val_accuracy: 0.8573
Epoch 90/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3358 - accuracy: 0.8614 - val_loss: 0.3605 - val_accuracy: 0.8554
Epoch 91/100
5359/5359 [==============================] - 1s 184us/step - loss: 0.3348 - accuracy: 0.8606 - val_loss: 0.3605 - val_accuracy: 0.8557
Epoch 92/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3355 - accuracy: 0.8602 - val_loss: 0.3605 - val_accuracy: 0.8554
Epoch 93/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3354 - accuracy: 0.8623 - val_loss: 0.3603 - val_accuracy: 0.8561
Epoch 94/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3352 - accuracy: 0.8612 - val_loss: 0.3595 - val_accuracy: 0.8565
Epoch 95/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3347 - accuracy: 0.8608 - val_loss: 0.3596 - val_accuracy: 0.8573
Epoch 96/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3345 - accuracy: 0.8619 - val_loss: 0.3589 - val_accuracy: 0.8565
Epoch 97/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3345 - accuracy: 0.8615 - val_loss: 0.3592 - val_accuracy: 0.8535
Epoch 98/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3345 - accuracy: 0.8621 - val_loss: 0.3588 - val_accuracy: 0.8584
Epoch 99/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3343 - accuracy: 0.8600 - val_loss: 0.3587 - val_accuracy: 0.8561
Epoch 100/100
5359/5359 [==============================] - 1s 179us/step - loss: 0.3342 - accuracy: 0.8621 - val_loss: 0.3586 - val_accuracy: 0.8584

Predicting the test set results

In [42]:
y_pred= classifier.predict(x_test)
y_pred = (y_pred>0.5)

Making the confusion Matrix

In [46]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1532,   63],
       [ 216,  189]], dtype=int64)

Calcuting the accuracy

In [47]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
score

0.8605